{% assign page_pieces = page_input | split: '|' %}

<div class="single-card single-card-small single-accessibility" title="{{ page_pieces[0] }}"
     onclick="location.href='{{ page_pieces[1] }}';">
    {% if page_pieces.size > 2 %}
        <div class="single-col single-col-l col-1_4 single-card-image-wide">
            {% render 'single-image', image_url: page_pieces[2] %}
        </div>
    {% endif %}
    <div class="single-col single-col-r col-3_4 single-card-info">
        <h3 class="single-album-title">{{ page_pieces[0] }}</h3>
    </div>
</div>