<div class="single-card-key">
    <div class="single-key-image">
        {% render 'single-image', image_url: key_image_url %}
    </div>
    <div class="single-key-info">
        {{ key_name }}
    </div>
</div>