<div id="password-container" class="password-container">
  <h1>enter password</h1>
  {% form 'storefront_password', class: 'form-single-field password-form' %}
    {%- assign formId = 'PasswordLoginForm' -%}
      <div class="input-group {% if form.errors %}input-group--error{% endif %}">
        <input type="password" name="password"
          id="Password"
          class="input input-group__field input--content-color {% if form.errors %}input--error{% endif %}"
          placeholder=""
          data-login-field
          autocomplete="off"
          aria-labelledby="PasswordLabel {% if form.errors %} {{ formId }}-password-error{% endif %}"
          {% if form.errors %}
            data-error="password"
            aria-invalid="true"
          {%- endif -%}
        >
        <span class="input-group__btn">
          <button type="submit" name="commit" class="btn btn--narrow">
            submit
          </button>
        </span>
      </div>
      {%- if form.errors -%}
        <span id="{{ formId }}-password-error" class="input-error-message">
          <span class="visually-hidden">Error: </span>
          <span>{{ form.errors.messages['form'] }}</span>
        </span>
      {%- endif -%}
    {% endform %}
</div>

{% schema %}
{
  "name": "Password Page",
  "class": "password-section"
}
{% endschema %}