<!-- Anonymous -->
<section class="single-gate-customer-login">
  <a href="/apps/single/v1/external/gated-content/login">
    <input
      type="button"
      class="single-customer-login-button btn button button--primary"
      style="margin: 0;"
      value="{{ 'single.login.sign_in' | t }}"
    >
  </a>
</section>

{% schema %}
{
  "locales": {
    "en": {
      "single": {
        "login": {
          "sign_in": "Sign In"
        }
      }
    },
    "fr": {
      "single": {
        "login": {
          "sign_in": "Connexion"
        }
      }
    },
    "es": {
      "single": {
        "login": {
          "sign_in": "Iniciar sesión"
        }
      }
    },
    "de": {
      "single": {
        "login": {
          "sign_in": "Anmelden"
        }
      }
    },
    "pt-BR": {
      "single": {
        "login": {
          "sign_in": "Entrar"
        }
      }
    }
  }
}
{% endschema %}
