<div style="text-align:center; margin: 5rem auto;">
  <h2>{{ 'single.search.no_results' | t }}</h2>
</div>

{% schema %}
{
  "name": "Single - No Results",
  "locales": {
    "en": {
      "single": {
        "search": {
          "no_results": "No items found"
        }
      }
    },
    "fr": {
      "single": {
        "search": {
          "no_results": "Aucun élément trouvé"
        }
      }
    },
    "es": {
      "single": {
        "search": {
          "no_results": "No se encontraron artículos"
        }
      }
    },
    "de": {
      "single": {
        "search": {
          "no_results": "Keine Elemente gefunden"
        }
      }
    },
    "pt-BR": {
      "single": {
        "search": {
          "no_results": "Nenhum item encontrado"
        }
      }
    }
  }
}
{% endschema %}
