<div style="width:100%; text-align: center;">
  <button class="btn button" onclick="location.href='VIDEO_LANDING_URL'">
    {{ 'single.video.view_all' | t }}
  </button>
</div>
{% schema %}
{
  "name": "Single - View All Button",
  "locales": {
    "en": {
      "single": {
        "video": {
          "view_all": "View All"
        }
      }
    },
    "fr": {
      "single": {
        "video": {
          "view_all": "Voir tout"
        }
      }
    },
    "es": {
      "single": {
        "video": {
          "view_all": "Ver todo"
        }
      }
    },
    "de": {
      "single": {
        "video": {
          "view_all": "Alle ansehen"
        }
      }
    },
    "pt-BR": {
      "single": {
        "video": {
          "view_all": "Ver tudo"
        }
      }
    }
  }
}
{% endschema %}
