<div class="single-grid">
  <div class="single-col col-4_4">
    <h2 style="text-align: center; margin: 5rem 0;">{{ 'single.login.access_denied' | t }}</h2>
  </div>
</div>

{% schema %}
{
  "locales": {
    "en": {
      "single": {
        "login": {
          "access_denied": "You do not have access to this content."
        }
      }
    },
    "fr": {
      "single": {
        "login": {
          "access_denied": "Vous n'avez pas accès à ce contenu."
        }
      }
    },
    "es": {
      "single": {
        "login": {
          "access_denied": "Tú no tienes acceso a este contenido."
        }
      }
    },
    "de": {
      "single": {
        "login": {
          "access_denied": "Sie haben keinen Zugriff auf diese Inhalte."
        }
      }
    },
    "pt-BR": {
      "single": {
        "login": {
          "access_denied": "Você não tem acesso a esse conteúdo."
        }
      }
    }
  }
}
{% endschema %}
